RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{HTTP_HOST} ^lxue\.xin$ [NC]
RewriteRule ^(.*)$ https://www.lxue.xin/$1 [L,R=301]